<html>

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Login & Registration For Pickup</title>
</head>

<body>
    <div class="wrapper" style="background-image: url(pickup.jpg); background-repeat: no-repeat;
    background-size: cover;">


    <!----------------------------- Navbar ----------------------------------->


    <nav class="nav">
        <div class="nav-logo">
            <a href="/" class="link"><p>MEAL CONNECT</p></a>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="/pickup" class="link active">Pickup</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" id="loginBtn" onclick="login()">Login</button>
            <button class="btn" id="registerBtn" onclick="register()">Register</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>

<!----------------------------- Form box ----------------------------------->    
    <div class="form-box">
        

        <!------------------- login form -------------------------->


        <div class="login-container" id="login">
            <form action="/pickup/login" method="post">
                <div class="top">
                    <span>Don't have an account? <a href="#" onclick="register()">Register</a></span>
                    <header>Login</header>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" name="username" placeholder="Delivery agent name" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" name="password" placeholder="Password" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Sign In">
                </div>
            </form>
        </div>


        <!------------------- registration form -------------------------->

        
        <div class="register-container" id="register">
            <form action="/pickup/register" method="post">
                <div class="top">
                    <span>Have an account? <a href="#" onclick="login()">Login</a></span>
                    <header>Sign Up</header>
                </div>
                <div class="two-forms">
                    <div class="input-box">
                        <input type="text" class="input-field" name="username" placeholder="Delivery agent name" required>
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="input-box">
                        <input type="tel" class="input-field" name="contact" placeholder="Contact No." required>
                        <i class="bx bx-phone"></i>
                    </div>
                </div>
                
                <div class="input-box">
                    <input type="text" class="input-field" name="email" placeholder="Email" required>
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" name="password" placeholder="Password" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>   


<script src="/script.js"></script>

</body>
</html>